<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page of home</title>
  </head>
  <body>
    <h1>this is all user of the website: <%= home %></h1>
  </body>
</html>
